* {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
}

body {
  font-size: 16px;
}

#app {
  width: 60%;
  margin: 60px auto;
}

h1 {
  font-size: 3.2em;
  margin-bottom: 20px;
}

p {
  line-height: 1.4em;
}

.book-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 30px 0 15px;
}

.form__fields {
  display: flex;
  flex-direction: row;
}

.field__container {
  position: relative;
}

.field {
  margin-right: 25px;
  width: 200px;
  padding: 10px 7px;

  font-size: 1em;
  border: 1px solid #b6b6b6;
  border-radius: 2px;
  outline: none;
}

.field:hover {
  border: 1px solid #91cdff;
}

.field:focus {
  border: 1px solid #5998e0;
}

.field__container label {
  position: absolute;
  top: 50%;
  left: 7px;
  padding: 5px;
  background: #ffffff;

  pointer-events: none;
  transform: translateY(-50%);
  transition: all ease-out .18s;
}

.field:focus ~ label {
  top: 0;
  transform: translateY(-50%) scale(.8);
}

.field:valid ~ label {
  top: 0;
  transform: translateY(-50%) scale(.8);
}

.button {
  outline: none;
  border: none;

  border: 1px solid #222;
  color: #222;
  padding: 11px 25px;

  font-size: 0.7em;
  text-transform: uppercase;
  font-weight: 400;

  background: none;
  border-radius: 3px;

  user-select: none;
  cursor: pointer;
}

/*
  button primary
*/
.button_primary {
  border: none;
  color: #fff;
  background: #58b0eb;
}
.button_primary:hover {
  background: #5fb7f1;
}
.button_primary:active {
  background: #53aae4;
}

/*
  button success
*/
.button_danger {
  border: none;
  color: #fff;
  background: #eb5858;
}
.button_danger:hover {
  background: #ee6161;
}
.button_danger:active {
  background: #df5050;
}

.books {
  margin-top: 40px;
}